body {
    background-color:aqua
}
.container {
    max-width: 600px;
}
h1 {
    text-align: center;
    color: aquamarine;
}
p {
    text-align: center;
    margin-bottom: 20px;
}
.form-group {
    margin-bottom: 20px;
}
label {
    display: block;
    margin-bottom: 5px;
}
textarea {
    width: 100px;
    padding: 10px;
    border: 1px;
    border-radius: 4px;
}
button {
    display: block;
    width: 100px;
    padding: 10px;
    background-color: bisque;
    color: azure;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
}
button:hover {
    background-color: green;
}